
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif ;
}

body{

    background-color: rgba(243, 216, 239, 0.95);
}
nav{

    background-color: rgb(71, 4, 72); ;
    color: rgb(242, 238, 242);
}

/* NAVBAR STYLING */

.navbar{
    /* ek line me lane k liye  */
    display: flex; 
    /* dono content ko oppsoite rakhne k liye */
    justify-content: space-between ;

    /* content verticallly center hojate hai */
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 18px;

}
.search-container input , button{
    padding: 5px 15px;
    border: none;
   
    font-size: 16px;

}
.search-container button{

    border-radius:0 3px  3px 0;
    background: rgb(244, 244, 145) ;
cursor: pointer;

/* color change karne me time lega */
transition: all 0.2s;

}


.search-container button:hover{
    background: rgb(71, 25, 85);
}

/* MAIN MOVIE SECTION STYLING  */

main{
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

.movie-container{

    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    width: 80%;
    border-radius: 5px;

}

.movie-poster img {
    height: 450px;
    margin-right: 30px;
    border-radius: 5px 0 0 5px;
     

}

.movie-info{
    padding-inline: 15px;
}

.movie-info h2{
    color: rgb(63, 38, 63);
    text-align: center;
    font-size: 32px;
    margin: 20px 0 12px 0;
}

.movie-info h2+p{
    text-align: center;
}

.movie-info .movie-genre{
    display: flex;
    justify-content: center;
    margin-block: 5px;
    overflow-x: auto;
}

.movie-info p{
    font-size: 18px;
    margin-block: 16px ;
    line-height: 24px;
}

.movie-info .movie-genre p{
    padding: 5px 14px;
    margin-inline: 5px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    background: rgb(114, 43, 128);

   
}

.movie-container.noBackground{
  
    background: none;
    box-shadow: none;
    align-items: center;
}
/* FOOTER STYLING */

footer{

    text-align: center;
    background: rgb(71, 4, 72);
    color: rgb(244, 244, 236);
    padding-block: 20px;
    margin-top: 40px;
    font-size: 20px;
}

/* responsive code */

@media screen and (max-width:950px){
    .movie-container{
        flex-direction: column;

    }
    .movie-poster img {
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    .movie-info{
        padding-inline: 30px ;

    }
}

@media screen and (max-width:650px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-container {
        margin-top: 12px;
    }
}